:root {
  --color-primary: #ffde00;
  /* --color-primary: rgb(44, 226, 138); */
  --color-error: rgb(255, 60, 102);
  --color-frame: #7b16ff;
}

a {
  color: var(--color-frame);
}

body {
  font-family: 'Poppins', sans-serif;
  border: 1em solid var(--color-frame);
  padding: 1em;
  min-height: 100vh;
}

strong {
  font-weight: 500;
}

ul {
  list-style-position: inside;
  padding: 0;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em .5em 0;
  font-size: 14px;
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

details[open] {
  padding: .5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}

footer {
  margin-top: 2em;
}

.invisible-btn {
  background-color: transparent;
  border: 0;
  width: 20px;
  height: 20px;
}

#destination-airport-submit, .notfound-container {
  margin-top: 20px;
}

#status {
  border: 1px solid var(--color-lightGrey);
  border-radius: 4px;
  padding: .5em;
  background-color: var(--color-primary);
}

#status.error {
  background-color: var(--color-error);
}

.title {
  text-align: center;
}

.text-highlight {
  padding: 5px;
  margin: 0 5px;
  display: inline-block;
}

.alert-highlight {
  background-color: var(--color-error);
  color: white;

}

.primary-highlight {
  background-color: var(--color-primary);
}

.byline {
  margin-top: 1em;
}